<%- include("./partials/header.ejs") %>


<div class="about_div">
<h1 class="funnel-display-text">About me</h1>

<p class="funnel-display-text">There really isn't anything that glamorous about me, just aspiring self-taught programmer who really wants to go big with his professional career in programming.</p>
    
<p class="funnel-display-text">Not only earning a lot of money, but also genuinely enjoying what I'm doing.</p>


<p class="funnel-display-text">Also feel free to leave constructive criticism on the GitHub page, would certainly appreciate it!</p>



<p class="funnel-display-text">(also wouldn't mind a job offer or two, in case you're interested :3)</p>

</div>
