<%- include("./partials/header.ejs") %>


<div id="contact-form">
  <div>
    <h1 class="funnel-display-text">Add a book</h1> 
    <h4 class="funnel-display-text">Add a book to your library by filling this form</h4> 
  </div>

    <form method="post" action="/add">
      <div>
          <label for="name">
            <span class="required funnel-display-text">Book's name: *</span> 
            <input type="text" id="name" name="book_name" value="" placeholder="Name" required="required" tabindex="1" autofocus="autofocus" />
          </label> 
      </div>

      <div>
          <label for="isbn">
            <span class="required funnel-display-text">Book's ISBN-13 code (optional): </span>
            <input type="text" id="isbn" name="isbn" value="" placeholder="0000000000000" tabindex="2" minlength="13" maxlength="13" />
          </label>  
      </div>

      <div>
          <label for="author">
            <span class="required funnel-display-text">Book's author: *</span>
            <input type="text" id="author" name="author" value="" placeholder="Lingle Mingle Jr." tabindex="3" required="required" />
          </label>  
      </div>

      <div>             
          <label for="subject">
          <span class="funnel-display-text">Star Rating: </span>
            <select id="rating" name="rating" tabindex="4">  

               <option value="1"> 1.0 ⭐ </option>

               <option value="1.5"> 1.5 ⭐ </option>

               <option value="2"> 2.0 ⭐ </option>

               <option value="2.5"> 2.5 ⭐ </option>

               <option value="3"> 3.0 🌠 </option>

               <option value="3.5"> 3.5 🌠 </option>

               <option value="4"> 4.0 🌠 </option>

               <option value="4.5"> 4.5 🌠 </option>

               <option value="5"> 5.0 🌌</option>

            </select>
          </label>
      </div>

      <div>             
          <label for="review">
            <span class="required funnel-display-text">Review: *</span> 
            <textarea id="review" name="review" placeholder="Please write your review here." tabindex="5" required="required"></textarea> 
          </label>  
      </div>

      <div>              
          <button name="submit" type="submit" id="submit" class="funnel-display-text" >Add</button> 
      </div>
       </form>

  </div>
